*{
    margin: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
}

#cabecera{
    background: lightgray;
    width: 100%;
    height: 17%;
}

#cabecera img{
    width: 12em;
}

#container{
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: wrap;
    background: lightgray;
}

#reproductor{
    width: 75%;
    height: 90%;
    display: flex;
    justify-content: center;
    background: black;
}

#video{
    width: 100%;
}

#controles{
    width: 75%;
    height: 10%;
    display: flex;
}

#controles p {
    padding: 7px;
    margin-left: 4px;
    width: 50px;
    height: 50px;
}

#controlReproduccion{
    display: flex;
    margin-left: 15%;
    justify-content: space-around;
}

#controlTiempo{
    margin-left: 5%;
    display: flex;
    justify-content: space-around;
}

#controlvolumen{
    display: flex;
    margin-left: 5%;
    justify-content: space-around;
}


#colaReproduccion{
    width: 25%;
    height: 90%;
}

#pie{
    background: lightgray;
    width: 100%;
    height: 7%;
}

#pie img{
    width: 10%;
    height: 100%;
}

#login{
    text-align: right;
    margin-top: -22px;
    margin-right: 15px;
    zoom: 4;
}

h2 {
    text-align: center;
    font-size: 70px;
    margin-top: -80px;
}

.reproduciendo{
    background: #3a7999;
    color: #f2f2f2;
    padding: 5px;
}

.remarcar:hover{
    background: purple;
    color: #f2f2f2;
    padding: 3px;
    zoom: 1.1;
}

#controles p{
    border: none;
    background: #3a7999;
    color: #f2f2f2;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
}

#controles p:hover{
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}

#iconoReproduciendo{
    position: relative;
    top: 3px;
    margin-left: 5px;
    zoom: 1.5;
}


#pie label {
    margin-left: 40px;
    font-size: 25px;
}

#powered{
    position: relative;
    bottom: 10px;
}

@media screen and (max-width: 1250px){
    #reproductor{
        width: 100%;
        flex-wrap: nowrap;
    }

    #colaReproduccion{
        position: relative;
        top: 70px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 100%;
        height: 60%;
        padding-bottom: 50px;
    }

    .elementoReproductor{
        border-bottom: 2px solid black;
        border-right: 2px solid black;
        padding: 3px;
        width: 50%;
    }

    #controles{
        position: relative;
        bottom: 220px;
    }

    #pie{
        position: fixed;
        bottom: 0;
        height: 4%;
    }
}

@media (max-width: 734px){
    #controles{
        position: absolute;
        top: 60%;
        left: 10%;
        flex-flow: column;
        align-content: space-around;
        height: 200px;
        zoom: 0.7;
    }

    #cabecera {
        height: 50px;
    }

    #controles div{
        margin-top: 10px;
    }

    #cabecera img{
        width: 25%;
    }

    #cabecera h2{
        zoom: 0.6;
    }

    #login{
        width: 40px;
        float: right;
        margin-top: -28px;
        zoom: 1.6;
    }
}